<% content_for :title do %>About<% end %>
<h3>About MYBOT</h3>
<p>It is a very chatty bot:</p>
<p>It does these things:</p>
<ul>
  <li>It greets the user.</li>
  <li>It authenticates the user.</li>
  <li>It asks the user for his/her location.</li>
</ul>
